<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body>
  
<div class="needReg">
    <div class="container text-center">
      <h1>Sorry, you need to login to view that feature. </h1>
        <a id="switch" class="policy" href="/">Click here for redirect to homepage</a>
      
    </div>
  </div>
  
  
</body>
</html>














