<!-- views/partials/footer.ejs -->

<footer>
    <div class="text-center py-4" style="background-color: rgb(50, 1, 85); color: white;">
        <%= cp %> &copy; 2019 <span id="year"></span>
    </div>
</footer>
